body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    padding-top: 80px;
}

header {
    background: #fff;
    color: #333;
    padding: 15px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}

header nav a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

img {
    width:32px;
    height:32px;
    object-fit:cover;
    border:2px solid #fff;
    vertical-align:middle;
}

.menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    color: #000;
    padding: 10px 22px;
    border-radius: 999px; /* bikin bulat pill */
    font-size: 14px;
    transition: all 0.3s ease;
}

.menu a.active {
    background: #181c1e;
    color: #fff;
}

.menu a:hover {
    background: #e5e5e5;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* SECTION */
.album-section {
    padding: 80px 5%;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #f2f2f2 50%,
        #e6e6e6 100%
    );
}

/* TITLE */
.album-title {
    text-align: center;
    margin-bottom: 50px;
}

.album-title h1 {
    font-size: 48px;
    letter-spacing: 6px;
    color: #2f3a40;
}

/* GRID */
.album-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 220px;
    gap: 20px;
}

/* ITEM */
.album-item {
    overflow: hidden;
    border-radius: 14px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.album-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.album-item:hover img {
    transform: scale(1.08);
}

/* VARIASI */
.album-item.large {
    grid-column: span 2;
    grid-row: span 2;
}

.album-item.wide {
    grid-column: span 2;
}

.album-item.tall {
    grid-row: span 2;
}

@media (max-width: 768px) {
    .menu {
        justify-content: center;
        width: 100%;
    }

    .brand{
        justify-content: center;
        width: 100%;
    }

}